.check-keyword{
  color: #338DE6 !important;
}
.checkText {
  color: #fff !important;
  background: #338DE6;
}
.checkbox{
  position: absolute;
  left: 15px;
  right: 15px;
  border-radius: 2px;
  background: #333141;
  z-index: 90;
}
.checkbox .the-t{
  position: absolute;
  width: 10px;
  height: 10px;
  background: #333141;
  transform: rotate(45deg);
  top: -5px;
  left: 60px;
}
.checkbox h5{
  font-size: 24px;
  color: #fff;
  padding: 20px 40px 20px 12px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.checkbox .close-btn{
  position: absolute;
  top: 50%;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  z-index: 1;
  background: url(./img/close-icon.png) center no-repeat;
  background-size: contain;
  right: 12px;
}
.checkbox .des-info{
  font-size: 16px;
  color: #fff;
  margin-bottom: 18px;
  padding: 0 12px;
}
.checkbox .more-info{
  background: #474654;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.checkbox .more-info .next-icon{
  width: 16px;
  height: 16px;
  background: url(./img/next-icon.png) center no-repeat;
  background-size: contain;
  margin-left: 4px;
}
.comment{
  margin-top: 36px;
  padding-top: 60px;
}
.comment .no-info{
  margin-bottom: 106px;
}
.comment .no-info img{
  display: block;
  width: 78px;
  height: 78px !important;
  margin: 0 auto 30px;
}
.comment .no-info p{
  text-align: center;
  font-size: 14px;
  color: #666;
}
.comment.comment-info{
  padding: 0 15px;
}
.comment h6{
  color: #141432;
  font-size: 16px;
  margin-bottom: 16px;
}
.comment .info-lists{
  margin-bottom: 88px;
}
.comment .info-list{
  margin-bottom: 44px;
}
.comment .user-info{
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.comment .user-info .user-head{
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.comment .user-info .user-head span{
  flex: 1;
  font-size: 14px;
  color: #666;
}
.comment .user-info .head-img{
  width: 40px;
  height: 40px;
  display: block;
  flex-shrink: 0;
  margin-right: 13px;
  border-radius: 50%;
}
.comment .user-info .user-zan{
  padding-right: 18px;
  font-size: 14px;
  color: #6461FF;
  min-width: 16px;
  height: 16px;
  line-height: 20px;
  box-sizing: border-box;
}
.comment .user-info .user-zan.zan-active{
  background: url(./img/zan-icon.png) right center no-repeat;
  background-size: 16px;
}
.comment .user-info .user-zan.zan-default{
  background: url(./img/zan-default.png) right center no-repeat;
  background-size: 16px;
}
.comment .com-info {
  font-size: 14px;
  color: #141432;
  margin-bottom: 24px;
}
.comment .reply-list{
  font-size: 14px;
  color: #141432;
  padding: 0 12px;
  margin-bottom: 4px;
}
.comment .reply-list .name{
  color: #6461FF;
}
/* 回复区域 */
.message-box{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
.reply-box{
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1;
  padding: 0 15px;
}
.reply-box .reply-input{
  flex: 1;
  margin-right: 16px;
  border-radius: 18px;
  background: #f0f0f0;
}
.reply-box .reply-input input{
  width: 100%;
  height: 35px;
  padding: 8px 0 8px 12px;
  height: 35px;
  box-sizing: border-box;
  border-width: 0;
  background: transparent;
  outline: 0;
}
.reply-box .share-icon{
  width: 24px;
  padding-top: 24px;
  font-size: 10px;
  color: #666;
  flex-shrink: 0;
  white-space: nowrap;
  background: url(./img/share-icon.png) center top no-repeat;
  background-size: contain;
}
/* 留言 */
.messMask{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.messArea{
  background: #fff;
  padding: 20px 0 52px 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: none;
}
.messArea h6{
  position: relative;
  padding: 0 39px 0 15px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #3B3B3B;
}
.messArea h6 .close-btn{
  position: absolute;
  width: 24px;
  height: 24px;
  background: url(./img/black-close.png) center no-repeat;
  background-size: contain;
  top: 50%;
  right: 16px;
  margin-top: -12px;
}
.messArea .mess-textarea{
  margin: 0 15px;
}
.messArea textarea{
  border: 0;
  outline: 0;
  display: block;
  width: 100%;
  height: 77px;
  box-sizing: border-box;
  padding: 10px 4px;
  background: #F3F3F5;
  border-radius: 2px;
}
.messArea .send-btn{
  position: absolute;
  bottom: 12px;
  right: 15px;
  width: 52px;
  height: 28px;
  line-height: 28px;
  background: #6461FF;
  border-radius: 14px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
